@model DeliveryApp.Models.Pedido

@{
    ViewData["Title"] = "Quentinha Média";
}

<h1>Quentinha Média</h1>

1 Opção de Carne

<b>R$ 7,00</b>

<form class="card" asp-controller="Prato" asp-action="QuentinhaMedia" method="post">
    <label class="card-header"><b>Carnes</b> (escolha 1 opção)</label><br />
    <div class="card-body">
        <input type="radio" asp-for="@Model.Carne" value="Frango Assado"/> Frango assado <br />
        <input type="radio" asp-for="@Model.Carne" value="Bisteca de porco" /> Bisteca de porco<br />
        <input type="radio" asp-for="@Model.Carne" value="Linguiça" /> Linguiça<br />
        <input type="radio" asp-for="@Model.Carne" value="Frango ao molho" /> Frango ao molho<br />
        <input type="radio" asp-for="@Model.Carne" value="Bife ao molho" /> Bife ao molho<br />
        <input type="radio" asp-for="@Model.Carne" value="Filé de frango na chapa" /> Filé de frango na chapa<br />
    </div>
    <br />
    <label class="card-header"><b>Guarnições</b></label><br />
    <div class="card-body">
        <input type="checkbox" asp-for="@Model.Guarnicao" value="Arroz" />  Arroz<br />
        <input type="checkbox" asp-for="@Model.Guarnicao" value="Macarrao" /> Macarrão<br />
        <input type="checkbox" asp-for="@Model.Guarnicao" value="Feijao" /> Feijão<br />
        <input type="checkbox" asp-for="@Model.Guarnicao" value="Baiao" /> Baião<br />
        <input type="checkbox" asp-for="@Model.Guarnicao" value="Farofa" /> Farofa<br />
    </div>
    <br />

    <label class="card-header"><b>Salada</b></label><br />
    <div class="card-body">
        <input type="checkbox" asp-for="@Model.Salada" value="Alface" /> Alface<br />
        <input type="checkbox" asp-for="@Model.Salada" value="Tomate/Cebola" /> Tomate / Cebola<br />
        <input type="checkbox" asp-for="@Model.Salada" value="Batata c/ Maionese" /> Batata c/ Maionese <br />
    </div>

    <input type="submit" value="Fazer pedido" class="btn btn-primary mt-4"/>

</form>